<section class="mt-5">
  <table class="table table-md mt-2 w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Icono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Población</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10Z"
            />
          </svg>
        </td>
        <td>
          <img
            src="https://flagcdn.com/w320/es.png"
            alt="Bandera de España"
            class="w-10 h-10 rounded-full"
          />
        </td>
        <td>España</td>
        <td>46.502.171.157</td>
        <td>
          <button class="btn btn-primary">Ver</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
